*.ipynb
*.vscode/*
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json
__pycache__/ising1d.cpython-37.pyc
__pycache__/masked_conv_layer.cpython-37.pyc
__pycache__/network.cpython-37.pyc
__pycache__/wavefunction.cpython-37.pyc
nqs_jax.py
test.py
__pycache__/rework.cpython-37.pyc
__pycache__/sampler.cpython-37.pyc
todo.txt
references/*
references/marburg/marburg
